* {
    foreground:           #ebdbb2;
    selected-foreground:  rgba(0, 0, 0, 100%);
    
    background:           #282828a0; 
    background-solid:     #282828ff; 
    selected-background:  #665c54;

    red:                  #fb4934;
    blue:                 #83a598;
}

